<%# Asigns the users name to the user profile %>
<h1> <%= @user.name %> </h1>
<%# Updates the user count on the profile page %>
<h6> <%= pluralize(@user.views, "view") %> </h6>
<p>Find me in app/views/users/profile.html.erb</p>
